<!DOCTYPE html>
<html>
  <head>
    <title>Lock and Roll</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Lock and Roll SMS Server</h1>
  </body>
</html>
